/* nav {
    box-shadow: 0 5px 10px 5px #0000001a;
} */
nav img {
    width: 4rem;
    height: auto;
}
.after-nav {
    padding-top: 8rem;
}

.modal {background: #000000e1;}
.modal form {width: 22rem;}
.modal-input {
    padding: 0.5rem 0.35rem;
    background: #f7f1f1;
}

.heading {
    width: 86%;
    aspect-ratio: 958 / 400;
    background-image: url(../assets/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.heading img {
    position: absolute;
    right: 10rem;
    height: 19rem;
    aspect-ratio: 451 / 324;
}

.drink-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
    column-gap: 2rem;
    row-gap: 3rem;
    list-style: none;
    padding-left: 0;
}
.drink-list img {
    width: 100%;
    aspect-ratio: 241 / 312;
    object-fit: cover;
}
.drink-list p {
    color: #974A4A;
}

.input {
    padding: 0.5rem 0.35rem;
    color: #757575;
    background: #F7f1f1;
    border: 2px solid #BD0707;
    border-radius: 5px;
}
.input img {
    height: 1.5rem;
    margin-right: 0.75rem;
}
.input-product {
    aspect-ratio: 241 / 312;
    object-fit: cover;
    height: 25rem;
    margin-right: 7.5rem;
    border-radius: 10px;
}
.input-toping {
    aspect-ratio: 1;
    object-fit: cover;
    height: 25rem;
    margin-right: 7.5rem;
    border-radius: 50%;
}
.input-button {
    width: 87.5%;
    padding: 0.5rem 0;
}

.form-btn-space {
    margin-top: 20px ;
}
/* Register Form */
.rgs-form-container{
    border-radius: 1px solid navy;
    width: 416px;
    height: 429px;
    border-radius: 5px;
    background-color: grey;
}

.email-rgs {
    box-sizing: border-box;
    width: 350px;
    height: 50px;
    border-radius: 5px;
}

.password-rgs {
    box-sizing: border-box;
    width: 350px;
    height: 50px;
    border-radius: 5px;
}

/*Login Form*/
.lgn-form-container{
    width: 416px;
    height: 341px;
    border-radius: 5px;
    background-color: grey;
}

.email-lgn {
    box-sizing: border-box;
    width: 350px;
    height: 50px;
    border-radius: 5px;
}

.password-lgn {
    box-sizing: border-box;
    width: 350px;
    height: 50px;
    border-radius: 5px;
}

/* Order-menu.jsx*/
.menu-container{
    margin-top: 125px;
    height: 400px;
    width: 1069px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    justify-content: space-around;
} 

/*Order Box*/
.menu-box{
    /* border: 1px solid red; */
    height: 392px;
    width:  241px;
    border-radius: 10px;
    background-color: #F7DADA;
} 

 /*Picture's Order Box*/
.menu-picture{
    /* border: 1px solid navy; */
    height: 312px;
    width:  241px;
    border-radius: 12px;
}

.pic_size{
    height: 312px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    object-fit: cover;
}

.menu-information{
    /* border: 1px solid green; */
    height: 80px;
    width:  241px;
    border-radius: 0px 0px 12px 12px;
}

.menu-title{
    /* border : 1px solid black; */
    margin-left: 16px;
    margin-bottom: 6px;
    margin-top: 14px;
}

.menu-title h6{
    font-weight: 900;
    font-size: 18px;
    color: #BD0707;
}

.menu-price{
    /* border: 1px solid yellow; */
    margin-left: 16px;
    margin-bottom: 16px;
}

.menu-price h6{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color:  #974A4A;
}